{% extends 'base.html' %}

{% block content %}
    <div>
        {% for post in posts %}
            <div>
                <a href="{% url 'post' post.id %}">
                    <h3>{{ post.title|capfirst }}</h3>
                </a>
                <p>{{ post.subtitle }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" width="40%">
                {% else %}
                    <p>no image was uploaded</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}